@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar .linkBox {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar .linkBox::before,
.sidebar .linkBox::after {
  content: "";
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.sidebar .linkBox::before {
  top: -30px;
  box-shadow: 15px 15px 0 #252836;
}
.sidebar .linkBox::after {
  bottom: -30px;
  box-shadow: 15px -15px 0 #252836;
}
.sidebar .linkBox a {
  transition: all 0.3s ease-in-out;
}
.sidebar .linkBox.active {
  background-color: #252836;
  border-radius: 10px;
}
.sidebar .linkBox.active::before,
.sidebar .linkBox.active::after {
  transition: opacity 0.3s 0.15s ease-in-out;
  opacity: 1;
}
.sidebar .linkBox.active a {
  background-color: #e97c69;
  border-radius: 10px;
}
.sidebar .linkBox.active i {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252836;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  color: #171a2442;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* home page css */
.homePageNav ul li.active {
  border-color: #e97c69;
  color: #e97c69;
}
